/* Data tables are just a tiny bit too wide for the tab-content div,
   which makes it scroll horizontally in Firefox. */
div.tab-content table.dataTable {
    width: 99.5%;
}

.navbar .brand {
    padding: 0;
    margin: 3px;
}

/* Own sizes within intro */
div.intro h1 {
    font-size: 24.5px;
}
div.intro h2 {
    font-size: 17.5px !important;
}
div.intro h3 {
    font-size: 14px;
}
div.intro h4 {
    font-size: 11.9px;
}
div.intro h5 {
    font-size: 11.9px;
}

.leaflet-tooltip {
    padding: 0.1ex 0.3ex 0.1ex 0.3ex;
}

.leaflet-popup-content {
    margin: 1ex 2.2ex 1ex 2.2ex;
}
