/* Data tables are just a tiny bit too wide for the tab-content div,
   which makes it scroll horizontally in Firefox. */
div.tab-content table.dataTable {
    width: 99.5%;
}

.navbar .brand {
    padding: 0;
    margin: 3px;
}

/* Own sizes within intro */
div.intro h1 {
    font-size: 24.5px;
}
div.intro h2 {
    font-size: 17.5px !important;
}
div.intro h3 {
    font-size: 14px;
}
div.intro h4 {
    font-size: 11.9px;
}
div.intro h5 {
    font-size: 11.9px;
}

/* markdown tables in the intro */
div.intro table {
    border: 1px solid #ddd;
    border-collapse: separate;
    border-radius: 4px;
    border-spaceing: 0;
    margin-bottom: 6px !important;
}
div.intro thead th {
    font-weight: bold;
}
div.intro table th, div.intro table td {
    text-align: left;
    vertical-align: bottom;
    line-height: 20px;
    padding: 8px;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
}
div.intro tr th:first-child, div.intro tbody td:first-child {
    border-left: none;
}
div.intro table tr:first-child th {
    border-top: none;
}

.leaflet-tooltip {
    padding: 0.1ex 0.3ex 0.1ex 0.3ex;
}

.leaflet-popup-content {
    margin: 1ex 2.2ex 1ex 2.2ex;
}

.example-list td {
    vertical-align: baseline;
}

td.example-number {
    min-width: 6ex;
}

.example-list tr + tr {
    margin-bottom: 1ex;
}
